<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Resume</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="HNGi8 task 2" name="keywords">
        <meta content="HNGi8 task 2" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">

          <div class="message-success">
              <div id="pigeon">
                  <img src="img/message_success.svg">
              </div>
              <div id="Message text">
                  <h2>Message Delivered</h2>
              </div>

              <div class="hero-btn">
                  <a class="btn" href="/">Go Back</a>
              </div>
          </div>


        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <h2>Ewomazino Osiogbo</h2>
                        <h3>123 Street, Benin, Nigeria</h3>
                        <div class="footer-menu">
                            <p>+234 8143187773</p>
                            <p>partialstackdev@gmail.com</p>
                        </div>
                        <div class="footer-zuri">
                            <div class="zuri-logo">
                                <a href="https://internship.zuri.team/"><img src="img/zuri.jpg"></a>
                            </div>
                            <div class="zuri-logo">
                                <a href="https://internship.zuri.team/"><img src="img/zuri1.jpg"></a>
                            </div>
                            <div class="zuri-logo">
                                <a href="https://internship.zuri.team/"><img src="img/zuri2.jpg"></a>
                            </div>
                        </div>
                        <div class="footer-zuri-text">
                          <a href="https://internship.zuri.team/"><h3>https://internship.zuri.team/</h3></a>
                        </div>
                        <div class="footer-social">
                            <a href="https://twitter.com/NoStackDev"><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <p>&copy; <a href="#">Zino's Resume</a>, All Right Reserved | Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/typed/typed.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        
        <!-- Contact Javascript File -->

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
